.container {
  position: relative;
  max-width: 1024px;
  margin-top: 150px;
  display: flex;
  flex-direction: row;

  align-items: center;
}
.postContainer {
  background-color: antiquewhite;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.formContainer {
  min-width: 300px;
  display: flex;
  justify-content: center;
}
/* .postContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
} */

.post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

@media only screen and (max-width: 500px) {
  .postContainer {
    background-color: transparent;
  }
}
